@font-face {
    font-family: 'Cloister';
    src: url('fonts/CloisterBlack.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
    
    /*Tipos de format():
    - opentype (otf)
    - truetype (ttf)
    - embedded opentype
    - truetype-att (Apple Advance Typography)
    - svg
    */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Cloister', Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
}